/* general */
li {
  list-style: none;
}

/* typo */
body {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 40px;
}
h1 + p {
  margin: 10px 0;
}
a {
  text-decoration: none;
}

/*
HEADER
 */
#header-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 80px;
  width: 100%;
  background-color: #fff;
}
#header-top .logo {
  padding-left: 20px;
  height: 15px;
}
#header-top > .container:first-child {
  line-height: 80px;
}
#header-top ul {
  text-align: right;
}
#header-top ul > li {
  display: inline-block;
  padding: 0 10px;
}
#header-top ul > li > a {
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
}
#header-top .right-menu {
  padding-right: 20px;
}
#header-top .right-menu li:first-child > a:first-child {
  font-weight: 300;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding: 0 5px;
}

#header-top .btn {
  color: #fff;
  background-color: #000;
  text-transform: capitalize;
  padding: 5px 15px;
}
#header-top .hamburger-menu {
  padding-right: 15px;
}


#hero {
  position: relative;
  margin-top: 30px;
  height: 554px;
  background-image: url(../img/hero-bg.jpg);
  background-position: center;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 767px) {
  #hero  {
    height: 400px;
  }
  h1 {
    font-size: 30px;
  }
}
#hero .content-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
#hero img {
  width: 150px;
  padding: 10px 10px;
}


/*
main
*/

/* #product */
#product {
  margin: 50px 0;
  text-align: center;
}
#product .product {
  background-color: #fafafa;
  margin: 20px 20px;
  padding: 80px 10px 0;
  font-size: 18px;
}
#product > .container .product > img:first-child {
  width: 40%;
  min-width: 100px;
}
#product > .container .product > p {
  padding: 30px 0;
}
#product > .container .product > a {
  color: #0170c8;
}
#product > .container .product > img:last-child {
  width: 90%;
}
