/* general */
li {
  list-style: none;
}
.relative {
  position: relative;
}
/* typo */
body {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 40px;
}
h1 + p {
  margin: 10px 0;
}
a {
  text-decoration: none;
}

/*
HEADER
 */
#header-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 80px;
  width: 100%;
  background-color: #fff;
}
#header-top .logo {
  padding-left: 20px;
  height: 15px;
}
#header-top > .container:first-child {
  line-height: 80px;
}
#header-top ul {
  text-align: right;
}
#header-top ul > li {
  display: inline-block;
  padding: 0 10px;
}
#header-top ul > li > a {
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
}
#header-top .right-menu {
  padding-right: 20px;
}
#header-top .right-menu li:first-child > a:first-child {
  font-weight: 300;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding: 0 5px;
}

#header-top .btn {
  color: #fff;
  background-color: #000;
  text-transform: capitalize;
  padding: 5px 15px;
}
#header-top .hamburger-menu {
  padding-right: 15px;
}


#hero {
  position: relative;
  margin-top: 30px;
  height: 554px;
  background-image: url(../img/hero-bg.jpg);
  background-position: center;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 767px) {
  #hero  {
    height: 450px;
  }
  h1 {
    font-size: 30px;
  }
}
#hero .content-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
#hero img {
  width: 150px;
  padding: 10px 10px;
}


/*
main
*/

/* #product */
#product {
  margin: 50px 0;
  text-align: center;
}
#product .product {
  background-color: #fafafa;
  margin: 20px 20px;
  padding: 80px 10px 0;
  font-size: 18px;
}
#product > .container .product > img:first-child {
  width: 40%;
  min-width: 100px;
}
#product > .container .product > p {
  padding: 30px 0;
}
#product > .container .product > a {
  color: #0170c8;
}
#product > .container .product > img:last-child {
  width: 90%;
}

/* #how */
#banner-man {
  position: relative;
  height: 500px;
  background-image: url(../img/banner-man.jpg);
  background-size: cover;
  background-position: 20%;
}
#how .iphone-frame {
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 250px;
}

@media screen and (max-width: 767px) {
  #how .iphone-frame {
    bottom: -300px;
  }
}

#how .side-text > .container > div{
  padding: 70px 70px 90px;
}
#how .side-text h2 {
  font-size: 30px;
}
#how .side-text h4 {
  font-size: 20px;
}
#how .side-text h5 {
  padding-top: 20px;
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  #how .side-text > .container > div{
    padding: 20px;
  }
  #how .side-text > .container > div:first-child {
    margin-top: 320px;
  }
}

/* #impression */
#impression {
  text-align: center;
}
#impression > div {
  padding: 20px;
}
#banner-scooter {
  background-image: url(../img/banner-scooter.jpg);
  background-position: 30%;
  background-size: cover;
  height: 500px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  #banner-scooter {
    background-position: 60%;
  }
}

#banner-scooter > div {
  height: 500px;
}
#banner-scooter .smart-mobility {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}
#banner-scooter .smart-mobility h2 {
  font-size: 34px;
}
#banner-scooter .smart-mobility p {
  font-size: 22px;
  margin: 25px 0;
}
#banner-scooter .smart-mobility a {
  font-size: 20px;
  color: #fff;
}

#get-globe > div {
  color: #fff;
}
#get-globe > div h2 {
  padding: 50px 0 20px;
  font-size: 36px;
}
#get-globe > div a {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
}
#get-app {
  position: relative;
  padding-right: 20px;
}
#get-app img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50%;
  max-width: 300px;
}
#get-app > div {
  background: linear-gradient(180deg, rgba(64,85,104,1) 0%, rgba(37,47,56,1) 100%);
  height: 600px;
}
#find-us {
  padding-left: 20px;
}
#find-us > div {
  height: 600px;
  background-image: url(../img/banner-city.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 767px) {
  #get-app,
  #find-us {
    padding: 0;
  }
  #find-us {
    margin-top: 40px;
  }
}
